# 默认忽略的文件
/shelf/
/workspace.xml
# Rider 忽略的文件
/.idea.Arkgihts_Operators_Skill_Level10_GUI.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# 基于编辑器的 HTTP 客户端请求
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
